<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilo1.css"> 

</head>
<body>
    
    <div class="row">
        <p></p>
        <div class="col-sm-1"></div>
        <div class="col-sm-10"><h1 class = "text-center">Random facts sobre mi</h1></div>
        <div class="col-sm-1"></div>
      </div>
    
    <p></p>
    <p> 1. Sigo esperando mi carta de Hogwarts</p>
    <div align= "center"><img src="images/cartaHw.png" class="img-thumbnail" alt="cartaHw" width="800" height="600"></div>
    <p> 2. Soy de la casa de Slytherin</p>
    <div align= "center"><img src="images/casa.png" class="img-thumbnail" alt="cartaHw" width="800" height="auto"></div>
    <p> 3. Mi patronus es un lobo</p>
    <div align= "center"><img src="images/Patronus.png" class="img-thumbnail" alt="cartaHw" width="800" height="600"></div>
    <p> 4. Mi película favorita de disney es la Bella y la Bestia</p>
    <div align= "center"><img src="images/bab.jpg" class="img-thumbnail" alt="cartaHw" width="800" height="600"></div>
    <p> 5. Mi villano favorito es Malefica</p>
    <div align= "center"><img src="images/Maleficent.jpg" class="img-thumbnail" alt="cartaHw" width="800" height="600"></div>
    <p> 6. Mi comida rápida favorita son los nuggets</p>
    <div align= "center"><img src="images/nuggets.jpg" class="img-thumbnail" alt="cartaHw" width="800" height="600"></div>
    <p> 7. Soy adicta al café</p>
    <div align= "center"><img src="images/sb.png" class="img-thumbnail" alt="cartaHw" width="800" height="600"></div>
    <p> 8. Un personaje de disney que me representa es Stitch</p>
    <div align= "center"><img src="images/st.jpg" class="img-thumbnail" alt="cartaHw" width="800" height="600"></div>
    <p> 9. Soy escorpio</p>
    <<div align= "center"><img src="images/scorpio.jpg" class="img-thumbnail" alt="cartaHw" width="800" height="600"></div>
    <p> 10. Mi videojuego favorito es Kingdom Hearts</p>
    <div align= "center"><img src="images/khts.jpg" class="img-thumbnail" alt="cartaHw" width="800" height="600"></div>
    <p></p>
    <div class="container">
        <blockquote class="blockquote-reverse">
          <h2>“A scattered dream that's like a far-off memory... a far-off memory that's like a scattered dream... i want to line the pieces up... yours and mine.”</h2>
          <footer>― Shiro Amano, Kingdom Hearts, Vol. 2</footer>
        </blockquote>
      </div>
    <p></p>
    <h3 class="text-center">Si llegó hasta acá porfa pongame 100</h3>


</body>
</html>