<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div class = "container">
            <div class="row">
                <div class="col-12"><h1>Examen1_JLR</h1></div>
                <div class="col-12 mb-4">
                    <form method="POST" action ="/triangulo">
                        <div class="form-control">
                            <label class = "form-label" for ="">Ingrese valor para A:</label>
                            <input type="text" class="form-control mb-3" placeholder="Ingrese numero" id="A" name="A">
                            <label class = "form-label" for ="">Ingrese valor para B:</label>
                            <input type="text" class="form-control mb-3" placeholder="Ingrese numero" id="B" name="B">
                            <label class = "form-label" for ="">Ingrese valor para C:</label>
                            <input type="text" class="form-control mb-3" placeholder="Ingrese numero" id="B" name="B">
                            <button type="submit" class="btn btn-outline-secondary btn-lg">Validar</button>
                        </div>  
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>