<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../css/estilo.css">
    </head> 

    <body>
        <h1>HARRY POTTER</h1>
        <p></p>
        <h2> Harry Potter is a series of seven fantasy novels written by British author J. K.</h2>
        <p></p>
        <div align= "center"><img src="../imges/JKRowl.png" class="img-thumbnail" alt="JK"></div>
        <p></p>
        <h2>Rowling. The novels chronicle the lives of a young wizard, Harry Potter, and his friends Hermione Granger and Ron Weasley, all of whom are students at Hogwarts School of Witchcraft and Wizardry. The main story arc concerns Harry's struggle against Lord Voldemort, a dark wizard who intends to become immortal, overthrow the wizard governing body known as the Ministry of Magic and subjugate all wizards and Muggles (non-magical people).</h2>
        <p></p>
        <div align= "center"><img src="../imges/books.png" class="img-thumbnail" alt="JK"></div>
    </body>
</html>