<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilo1.css">

</head>
<body>
    <div class="container">
        <!--12 pts-->
        <div class="row">
            <div class="col-3">
                <p class="class1">Inserte TEXTO</p>
            </div>
            <div class="col-9">
                <p class="class1">Continua el texto</p>
            </div>
        </div>
    </div>

    <div class="container2">
        <div style="background-color: rgb(145,220,50);">
            <p>
                ESTE ES MI PRIMER BLOQUE
            </p>
            <p>
                SIGO HACIENDO BLOQUES
            </p>
            <p>
                SON MUCHOS BLOQUES
            </p>
            <p>
                ESTE ES MI ÚLTIMO BLOQUE
            </p>
            <p>
                MENTÍ
            </p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>