h1{
    font-size: 5cm;
    font-family:'Times New Roman', Times, serif;
    color:gold;
    background-color: black;
    text-align: center ;
}

h2{
    font-size: 1cm;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
