p{
    font-family: bondoni;
    font-size: 1.5cm;
    font-style: normal;
}

/*.class1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aquamarine;
    border: 15px;
    border-color: black;
}*/

h1{
    font-size: 2cm;
    font-family: Trebuchet MS;
    background-color: rgb(219, 203, 228);
    border-radius: 1.5cm;
    text-align: center ;
}

h2{
    font-size: 1cm;
    font-family: georgia;
    background-color: rgb(241, 219, 228);
    text-align: justify;
}
